.description-container {
  background-color: #5b43d6;
  background-image: linear-gradient(180deg, #575ff5, #5b43d6);
  // background-image: url("../components/svgs/capture.jpg");
  display: flex;
  margin-top: 10vh;
  justify-content: center;
}

.description {
  display: grid;
  align-items: center;
  gap: 6px;
  padding: 3em 1em;
}
