@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "classes";
@import "layout.scss";

// Universal Box Sizing with Inheritance
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "open sans", sans-serif;
  box-sizing: border-box;
  color: white;
}

$base-color: #5b43d6;
$dark-pink: #da4567;

form {
  padding: 1em;
}

label {
  color: #000;
}

.contact-div h1 {
  color: #000;
  text-align: center;
  margin-top: 1em;
}

input {
  border: 1px solid #dadada;
  border-radius: 0.2em;
  padding: 1em;
  width: 100%;
}

textarea {
  border: 1px solid #dadada;
  border-radius: 0.2em;
  resize: vertical;
  padding: 1em;
  width: 100%;
  margin: 0.5em 0;
}

textarea:invalid {
  border: 2px dashed red;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  background-color: #fff;
  border-color: $base-color;
  outline: 0;
}

button {
  display: block;
  color: #fff;
  font-size: 1em;
  background-color: $base-color;
  padding: 0.75em 1.7em;
  border-radius: 2em;
  cursor: pointer;
  border: none;
}
// scroll-bar styling
body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(26, 3, 65, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #57adf5;
  outline: 1px solid #2e00b3;
}

// svg styling
svg:hover {
  fill: $dark-pink;
}
